<!-- <h1>Buckets managed by you</h1> -->
<h1>{{ title }}</h1>
<h3>{{ subTitle }}</h3>

<p *ngIf="isEmpty" class="isEmpty">There are no buckets to show</p>

<div class="flex--center">
  <button
    mat-raised-button
    class="add--bucket--button"
    color="Primary"
    (click)="addBucket()"
    *ngIf="!isUnassigned"
  >
    Add new bucket
  </button>
</div>
<div class="buckets--container">
  <ng-template ngFor let-bucket [ngForOf]="buckets">
    <app-bucket-card
      [bucket]="bucket"
      [isAdmin]="isAdmin"
      [isOwner]="isOwner"
      *ngIf="showBuckets"
      (delete)="onBucketDeleted($event)"
      [isUnassigned]="isUnassigned"
    ></app-bucket-card>
    <h3 *ngIf="!showBuckets">No buckets</h3>
  </ng-template>
</div>
<app-add-bucket
  *ngIf="addBucketShow"
  (closeEmitter)="addBucketClosed($event)"
  (bucketAdded)="onBucketAdded($event)"
></app-add-bucket>
