<app-custom-modal>
  <div class="modal-window">
    <h2>Here you can assign<br />new user to bucket</h2>
    <form class="example-form">
      <mat-form-field class="full-width form-field" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          type="text"
          class="full-width"
          placeholder="Type user's email"
          aria-label="Email"
          matInput
          (keyup)="keyDownOnTextarea()"
          [formControl]="emailCtrl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option
            *ngFor="let email of filteredEmails | async"
            [value]="email"
          >
            {{ email }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button (click)="onAssignClick()">Assign</button>
        <button mat-raised-button (click)="onCloseClick()" color="warn">
          Cancel
        </button>
      </div>
    </form>
  </div></app-custom-modal
>
