<div class="header">
  <img
    class="logo"
    (click)="onLogoClick()"
    src="../../assets/header/_logo_.png"
  />
  <div class="links">
    <div class="dropdown--helper">
      <button
        class="link--element"
        (click)="onBucketsClick()"
        routerLink="/buckets"
        routerLinkActive="active"
      >
        <img class="link-img" src="../../assets/header/_bucket.png" />
        <p>Buckets</p>
      </button>
      <div class="dropdown">
        <ul>
          <li>
            <div class="dropdown--element" (click)="onBucketsClick()">
              <p>Your buckets</p>
            </div>
          </li>
          <li>
            <div class="dropdown--element" (click)="onAllBucketsClick()">
              <p>All buckets</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown--helper">
      <button
        class="link--element"
        (click)="onTasksClick()"
        routerLink="/tasks"
        routerLinkActive="active"
      >
        <img class="link-img" src="../../assets/header/_tasks.png" />
        <p>Tasks</p>
      </button>
      <div class="dropdown">
        <ul>
          <li>
            <div class="dropdown--element" (click)="onTasksClick()">
              <p>Your tasks</p>
            </div>
          </li>
          <li>
            <div class="dropdown--element" (click)="onAllTasksClick()">
              <p>All tasks</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown--helper">
      <button class="link--element" (click)="onEditProfileClick()">
        <img class="link-img" src="../../assets/header/_profile.png" />
        <p>Edit profile</p>
      </button>
    </div>
    <div class="dropdown--helper">
      <button class="link--element">
        <img class="link-img" src="../../assets/header/_logout.png" />
        <p>Logout</p>
      </button>
    </div>
  </div>
</div>
<app-edit-profile
  *ngIf="showEditProfile"
  (close)="onEditProfileClose()"
></app-edit-profile>
