<div class="header">
  <img
    class="logo"
    (click)="onLogoClick()"
    src="../../assets/header/_logo_.png"
  />
  <div class="links">
    <div class="link--element" (click)="onBucketsClick()">
      <img class="link-img" src="../../assets/header/_bucket.png" />
      <p>Buckets</p>
    </div>
    <div class="link--element">
      <img class="link-img" src="../../assets/header/_tasks.png" />
      <p>Tasks</p>
    </div>
    <div class="link--element">
      <img class="link-img" src="../../assets/header/_profile.png" />
      <p>Edit profile</p>
    </div>
    <div class="link--element">
      <img class="link-img" src="../../assets/header/_logout.png" />
      <p>Logout</p>
    </div>
  </div>
</div>
