.buttons--container button:last-of-type {
  margin-left: 40px;
}
.flex--center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
// input,
// select {
//   display: block;
//   width: 281px;
//   height: 40px;
//   background: #f7f7fa;
//   border: 0;
//   padding: 6px 12px;
//   border-radius: 3px;
//   font-family: Poppins;
//   font-style: normal;
//   font-weight: 300;
//   font-size: 18px;
//   line-height: 27px;
//   /* identical to box height */

//   color: rgba(0, 0, 0, 1);
// }
// input::placeholder {
//   color: rgba(0, 0, 0, 0.5);
// }
// input:focus,
// select:focus {
//   outline: none;
// }
p {
  margin-top: 16px;
  margin-bottom: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  display: flex;
  align-self: flex-start;

  color: rgba(0, 0, 0, 0.75);
}

.flex--center {
  z-index: -100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button--container {
  margin-top: 50px;
  width: 269px;
  display: flex;
  justify-content: space-between;
}
a {
  margin-top: 27px;
  text-decoration-line: underline;

  color: #000000;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 24px;
}
.button--container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal--container {
  display: flex;
  flex-direction: column;
  aspect-ratio: 2 / 1;
  justify-content: space-between;
}
.modal--container > button {
  align-self: center;
}
.full-width-input {
  width: 100%;
  max-width: 600px;
}

mat-card {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
.form--class {
  margin-top: 40px;
}
