<div class="flex--center">
  <mat-card>
    <h1>{{ title }}</h1>

    <form
      class="form--class form--div"
      ngForm="formValidation"
      (submit)="onSubmitClick()"
      ngFormModel="formValidator"
      #formDirective="ngForm"
    >
      <div>
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Choose your username"
            [formControl]="userNameValidation"
            [errorStateMatcher]="matcher"
            required
          />
          <mat-error *ngIf="userNameValidation.hasError('minlength')">
            Username must be at least <strong>5 characters long</strong>
          </mat-error>
          <mat-error *ngIf="userNameValidation.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>First name</mat-label>
          <input
            matInput
            placeholder="Type in your first name"
            [formControl]="firstNameValidation"
            [errorStateMatcher]="matcher"
            required
          />
          <mat-error *ngIf="firstNameValidation.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>Last name</mat-label>
          <input
            matInput
            placeholder="Type in your last name"
            [formControl]="lastNameValidation"
            [errorStateMatcher]="matcher"
            required
          />
          <mat-error *ngIf="lastNameValidation.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Type in your email address"
            [formControl]="emailValidation"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="emailValidation.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Position</mat-label>
          <mat-select
            required
            [formControl]="positionValidation"
            [errorStateMatcher]="matcher"
          >
            <mat-option value="INTERN">Intern</mat-option>
            <mat-option value="JUNIOR">Junior</mat-option>
            <mat-option value="MID">Mid</mat-option>
            <mat-option value="SENIOR">Senior</mat-option>
            <mat-option value="CEO">CEO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Role</mat-label>
          <mat-select
            required
            [formControl]="roleValidation"
            [errorStateMatcher]="matcher"
          >
            <mat-option value="MEMBER">Member</mat-option>
            <mat-option value="TEAM_MANAGER">Team manager</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Choose your password"
            [formControl]="passwordValidation"
            [errorStateMatcher]="matcher"
            required
          />
          <mat-error *ngIf="passwordValidation.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="passwordValidation.hasError('minlength')">
            Passwrod must be at least <strong>6 letters long</strong>
          </mat-error>
        </mat-form-field>

        <mat-error *ngIf="loginExists"> This login is already taken </mat-error>
        <mat-error *ngIf="emailExists">
          This email address is already taken
        </mat-error>
      </div>
      <div class="button--container">
        <button mat-raised-button color="primary" type="submit">Confirm</button>
      </div>
    </form>
  </mat-card>
</div>
<app-custom-modal *ngIf="registrated"
  ><div class="modal--container">
    <h1>Thanks for registration!</h1>
    <h3>Now you can login to Time manager!</h3>
    <button (click)="onModalClose()" class="button button--black">Close</button>
  </div></app-custom-modal
>
