<h1 style="text-align: center; margin-top: 105px">Administrator Panel!</h1>
<div class="cards--container">
  <app-panel-card
    name="Buckets"
    description="Here you can find all buckets"
    iconName="delete"
    (click)="onBucketsClicked()"
  ></app-panel-card
  ><app-panel-card
    name="Unassigned buckets"
    description="Here you can find all unassigned buckets"
    iconName="delete"
    (click)="onUnassignedBucketsClicked()"
  ></app-panel-card
  ><app-panel-card
    name="Tasks"
    description="Here you can find all tasks"
    iconName="task"
    (click)="onTasksClicked()"
  ></app-panel-card
  ><app-panel-card
    name="Users"
    description="Here you can find all users"
    iconName="group"
    (click)="onUsersClicked()"
  ></app-panel-card>
  <app-panel-card
    name="Banned users"
    description="Here you can find all users"
    iconName="remove_circle_outline"
    (click)="onUnbannedClicked()"
  ></app-panel-card>
  <app-panel-card
    name="Guests"
    description="Here you can find all users"
    iconName="paragliding"
    (click)="onGuestsClicked()"
  ></app-panel-card>
  <app-panel-card
    name="Subscriptions"
    description="Here you can find all users"
    iconName="subscriptions"
    (click)="onSubscriptionsClicked()"
  ></app-panel-card>
  <app-panel-card
    name="Timers"
    description="Here you can find all users"
    iconName="timer"
    (click)="onTimersClicked()"
  ></app-panel-card>
</div>
