<h1 style="text-align: center; margin-top: 105px">
  Welcome {{ welcomeName }}!
</h1>
<div class="flex--center">
  <div class="cards--container">
    <app-panel-card
      name="Buckets"
      description="Here you can find all buckets"
      iconName="delete"
      (click)="onBucketsClicked()"
    ></app-panel-card
    ><app-panel-card
      name="Your buckets"
      description="Here you can find all buckets created by you"
      iconName="delete"
      (click)="onYourBucketsClicked()"
    ></app-panel-card
    ><app-panel-card
      name="Tasks"
      description="Here you can find all tasks you are assigned to"
      iconName="task"
      (click)="onTasksClicked()"
    ></app-panel-card
    ><app-panel-card
      name="Your tasks"
      description="Here you can find all tasks managed by you"
      iconName="task"
      (click)="onYourTasksClicked()"
    ></app-panel-card
    ><app-panel-card
      name="Admininstator panel"
      description="Here you can find all of administrator settings"
      iconName="admin_panel_settings"
      (click)="adminPanelClick()"
      *ngIf="isAdmin()"
    ></app-panel-card>
  </div>
</div>
