<!-- <h1>Buckets managed by you</h1> -->
<h1>{{ title }}</h1>
<h3>{{ subTitle }}</h3>
<div class="buckets--container">
  <ng-template ngFor let-bucket [ngForOf]="buckets">
    <app-bucket-card
      [bucket]="bucket"
      *ngIf="showBuckets"
      (delete)="onBucketDeleted($event)"
    ></app-bucket-card>
    <h3 *ngIf="!showBuckets">No buckets</h3>
  </ng-template>
</div>
<div class="flex--center">
  <button class="button button--green" (click)="addBucket()">
    Add new bucket
  </button>
</div>
<app-add-bucket
  *ngIf="addBucketShow"
  (closeEmitter)="addBucketClosed($event)"
  (bucketAdded)="onBucketAdded($event)"
></app-add-bucket>
