<!-- <h1>Buckets managed by you</h1> -->
<h1>{{ title }}</h1>
<h3>{{ subTitle }}</h3>
<div class="buckets--container">
  <ng-template ngFor let-bucket [ngForOf]="buckets">
    <app-bucket-card [bucket]="bucket"></app-bucket-card>
  </ng-template>
  <!-- <app-bucket-card
    owner="Andrzej Rusiński"
    bucketName="Bucket name"
    description="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of mde Finibus Bonorum et Malorum (The Extremes of Good and Evil) by Cicero, written in 45 BC. "
    maxTasksAmount="5"
  > -->
</div>
<div class="flex--center">
  <button class="button button--green" (click)="addBucket()">
    Add new bucket
  </button>
</div>
<app-add-bucket
  *ngIf="addBucketShow"
  (closeEmitter)="addBucketClosed($event)"
></app-add-bucket>
