<app-modal-text-insertion
  name="Choose bucket's name"
  label="Bucket name"
  placeholder="Type in new bucket name"
  button="Next"
  [required]="true"
  (cancel)="onCancelClick()"
  (value)="onNameAdded($event)"
  *ngIf="modals.name"
></app-modal-text-insertion>
<app-modal-text-insertion
  name="Choose bucket's description"
  label="Description"
  [required]="true"
  [maxLength]="255"
  placeholder="Type in new backet description"
  button="Next"
  (cancel)="onCancelClick()"
  (value)="onDescriptionAdded($event)"
  *ngIf="modals.description"
  [textArea]="true"
></app-modal-text-insertion>
<app-modal-text-insertion
  type="number"
  name="Choose bucket's maximal tasks amount"
  label="Maximal tasks amount"
  placeholder="Type in new maximal tasks amount"
  button="Next"
  [required]="true"
  [minValue]="1"
  (cancel)="onCancelClick()"
  (value)="onMaxTaskAdded($event)"
  *ngIf="modals.maxTask"
></app-modal-text-insertion>
<app-modal-text-insertion
  name="Choose bucket's bucket team"
  label="Members"
  placeholder="Start typing your collegue's e-mail address"
  button="Add bucket"
  (cancel)="onCancelClick()"
  (value)="onMembersAdded($event)"
  *ngIf="modals.team"
  [textArea]="true"
></app-modal-text-insertion>
