<div class="blur--effect"></div>
<div class="flex--center">
  <form (submit)="continueClicked()">
    <mat-card>
      <h1>{{ name }}</h1>
      <!-- <p>{{ label }}</p>
      <input
        type="{{ type }}"
        placeholder="{{ placeholder }}"
        *ngIf="!textArea"
        formControlName="inputValidation"
        [class.next--clicked]="nextClicked"
      /> -->
      <mat-form-field
        *ngIf="!textArea"
        class="full-width-input"
        appearance="fill"
      >
        <mat-label>{{ label }}</mat-label>
        <input
          type="{{ type }}"
          matInput
          placeholder="{{ placeholder }}"
          [formControl]="inputValidation"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="inputValidation.hasError('maxlength')">
          This field has max length of {{ maxLength }}
        </mat-error>
        <mat-error *ngIf="inputValidation.hasError('required')">
          This field is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        *ngIf="textArea"
        class="full-width-input"
        appearance="fill"
      >
        <mat-label>{{ label }}</mat-label>
        <textarea
          matInput
          placeholder="{{ placeholder }}"
          [formControl]="inputValidation"
          [errorStateMatcher]="matcher"
        ></textarea>
        <mat-error *ngIf="inputValidation.hasError('maxlength')">
          This field has max length of {{ maxLength }}
        </mat-error>
        <mat-error *ngIf="inputValidation.hasError('required')">
          This field is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="flex--center--button">
        <div class="flex--button">
          <button mat-button color="primary" type="submit">{{ button }}</button>
          <button mat-button color="warn" (click)="onCancelClicked()">
            Cancel
          </button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
