<div class="blur--effect"></div>
<div class="flex--center">
  <form [formGroup]="formValidator" (submit)="continueClicked()">
    <div class="modal--window">
      <h1>{{ name }}</h1>
      <p>{{ label }}</p>
      <input
        type="{{ type }}"
        placeholder="{{ placeholder }}"
        *ngIf="!textArea"
        formControlName="inputValidation"
        [class.next--clicked]="nextClicked"
      />
      <textarea
        placeholder="{{ placeholder }}"
        *ngIf="textArea"
        formControlName="inputValidation"
        [class.next--clicked]="nextClicked"
      ></textarea>
      <p
        *ngIf="
          formValidator.controls['inputValidation'].hasError('required') &&
          (formValidator.controls['inputValidation'].dirty ||
            formValidator.controls['inputValidation'].touched ||
            nextClicked)
        "
        class="danger"
        [class.next--clicked]="nextClicked"
      >
        {{ label }} is required
      </p>
      <p
        *ngIf="
          formValidator.controls['inputValidation'].hasError('maxlength') &&
          (formValidator.controls['inputValidation'].dirty ||
            formValidator.controls['inputValidation'].touched)
        "
        class="danger"
      >
        {{ label }} must be shorter than {{ maxLength }} letters.
      </p>
      <div class="flex--center--button">
        <div class="flex--button">
          <button class="button button--green" type="submit">
            {{ button }}
          </button>
          <button class="button button--red" (click)="onCancelClicked()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
