<h1>{{ title }}</h1>
<h3>{{ subTitle }}</h3>

<p *ngIf="isEmpty" class="isEmpty">There are no tasks to show</p>

<div class="tasks--cards--container">
  <ng-template ngFor let-task *ngIf="managerTask" [ngForOf]="managerTasks">
    <app-task-card
      [task]="task"
      (delete)="onTaskDelete($event)"
      [isAdmin]="isAdmin"
    ></app-task-card>
  </ng-template>
  <ng-template ngFor let-task *ngIf="normalTask" [ngForOf]="tasks">
    <app-task-card
      [task]="task"
      [managerCard]="managerTask"
      (delete)="onTaskDelete($event)"
      [isAdmin]="isAdmin"
    ></app-task-card>
  </ng-template>
</div>
