.chip-list {
  width: 100%;
  min-width: 500px;
}
.button--container {
  display: flex;
  justify-content: space-around;
}
.info {
  font-size: 12px;
  margin-bottom: 20px;
}
::ng-deep .mat-chip-list-wrapper {
  overflow-x: auto !important;
}
