<app-custom-modal>
  <h1>Add members</h1>
  <mat-form-field class="chip-list" appearance="fill">
    <mat-label>Members</mat-label>
    <mat-chip-list #chipList aria-label="Members">
      <mat-chip
        *ngFor="let email of addedUsers"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(email)"
      >
        {{ email }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        class="chip--input"
        placeholder="New member..."
        #emailInput
        (keydown)="keyDownOnTextarea()"
        [formControl]="emailCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let email of filteredEmails | async" [value]="email">
        {{ email }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="button--container">
    <button mat-raised-button color="primary" (click)="onAddMembersClick()">
      Add members
    </button>
    <button mat-raised-button color="warn" (click)="onCloseClick()">
      Close
    </button>
  </div>
</app-custom-modal>
