<!-- <app-modal-text-insertion
  name="Edit bucket's name"
  label="Bucket name"
  placeholder="Type in new bucket name"
  button="Next"
  [_textValue]="editBucket.name"
  (cancel)="onCancelClick()"
  (value)="onNameAdded($event)"
  *ngIf="dataFetched && modals.name"
></app-modal-text-insertion>
<app-modal-text-insertion
  name="Edit bucket's description"
  label="Description"
  placeholder="Type in new backet description"
  button="Next"
  [_textValue]="editBucket.description"
  (cancel)="onCancelClick()"
  (value)="onDescriptionAdded($event)"
  *ngIf="modals.description && dataFetched"
  [textArea]="true"
></app-modal-text-insertion>
<app-modal-text-insertion
  type="number"
  name="Edit bucket's maximal tasks amount"
  label="Maximal tasks amount"
  placeholder="Type in new maximal tasks amount"
  button="Next"
  [_textValue]="editBucket.maxTaskCount"
  (cancel)="onCancelClick()"
  (value)="onMaxTaskAdded($event)"
  *ngIf="modals.maxTask && dataFetched"
></app-modal-text-insertion> -->
<app-custom-modal *ngIf="dataFetched">
  <strong><h3>Edit bucket</h3></strong>
  <form [formGroup]="formValidation">
    <div class="modal--flex">
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Bucket name</mat-label>
        <input
          matInput
          placeholder="Type in new bucket name"
          formControlName="name"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="formValidation.get('name')?.hasError('maxlength')">
          This field has max length of 50
        </mat-error>
        <mat-error *ngIf="formValidation.get('name')?.hasError('required')">
          This field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Bucket description</mat-label>
        <textarea
          matInput
          class="textarea--input"
          placeholder="Type in new backet description"
          formControlName="description"
          [errorStateMatcher]="matcher"
        ></textarea>
        <mat-error
          *ngIf="formValidation.get('description')?.hasError('maxlength')"
        >
          This field has max length of 255
        </mat-error>
        <mat-error
          *ngIf="formValidation.get('description')?.hasError('required')"
        >
          This field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Maximal tasks amount</mat-label>
        <input
          type="number"
          matInput
          placeholder="Type in new maximal tasks amount"
          formControlName="maxTask"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="formValidation.get('maxTask')?.hasError('required')">
          This field is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="formValidation.get('maxTask')?.hasError('min')">
          Minimal value for this field is 0
        </mat-error>
        <mat-error *ngIf="formValidation.get('maxTask')?.hasError('max')">
          Maximal value for this field is 200
        </mat-error>
      </mat-form-field>
      <div class="buttons-container">
        <button mat-raised-button (click)="onSuccessfullyAdded()">
          Accept
        </button>
        <button mat-raised-button (click)="showEditMember()">Edit team</button>
        <button mat-raised-button color="warn" (click)="onCancelClick()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</app-custom-modal>
<app-add-members-modal
  *ngIf="emailsFetched && showAddMembers"
  (cancel)="onCancelAddingMembersClick()"
  (value)="onMembersAdded($event)"
  [membersEmails]="membersEmails"
>
</app-add-members-modal>
