<app-modal-text-insertion
  name="Edit bucket's name"
  label="Bucket name"
  placeholder="Type in new bucket name"
  button="Next"
  [_textValue]="editBucket.name"
  (cancel)="onCancelClick()"
  (value)="onNameAdded($event)"
  *ngIf="dataFetched"
></app-modal-text-insertion>
<app-modal-text-insertion
  name="Edit bucket's description"
  label="Description"
  placeholder="Type in new backet description"
  button="Next"
  [_textValue]="editBucket.description"
  (cancel)="onCancelClick()"
  (value)="onDescriptionAdded($event)"
  *ngIf="modals.description && dataFetched"
  [textArea]="true"
></app-modal-text-insertion>
<app-modal-text-insertion
  type="number"
  name="Edit bucket's maximal tasks amount"
  label="Maximal tasks amount"
  placeholder="Type in new maximal tasks amount"
  button="Next"
  [_textValue]="editBucket.maxTaskCount"
  (cancel)="onCancelClick()"
  (value)="onMaxTaskAdded($event)"
  *ngIf="modals.maxTask && dataFetched"
></app-modal-text-insertion>
<app-modal-text-insertion
  name="Edit bucket's bucket team"
  label="Members"
  placeholder="Start typing your collegue's e-mail address"
  button="Add bucket"
  [_textValue]="editBucket.createdTime"
  (cancel)="onCancelClick()"
  (value)="onMembersAdded($event)"
  *ngIf="modals.team && dataFetched"
  [textArea]="true"
></app-modal-text-insertion>
