<app-modal-text-insertion
  name="Choose task's name"
  label="Task name"
  placeholder="Type in new task name"
  button="Next"
  (cancel)="onCancelClick()"
  (value)="onNameAdded($event)"
  *ngIf="modals.name"
  [required]="true"
  [maxLength]="20"
></app-modal-text-insertion>
<app-modal-text-insertion
  name="Choose task's description"
  label="Task description"
  placeholder="Type in new task description"
  button="Next"
  (cancel)="onCancelClick()"
  (value)="onDescriptionAdded($event)"
  *ngIf="modals.description"
  [textArea]="true"
  [maxLength]="255"
></app-modal-text-insertion>
<app-modal-text-insertion
  type="number"
  name="Choose estimated duration"
  label="Task's estimated duration"
  placeholder="Type in new task estimated duration counted in hours"
  button="Next"
  (cancel)="onCancelClick()"
  (value)="onEstDurAdded($event)"
  *ngIf="modals.estDuration"
  [required]="true"
></app-modal-text-insertion>
<app-custom-modal *ngIf="modals.deadline">
  <h1>Set task's deadline</h1>
  <form (submit)="onDeadlineAdded()">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        class="mat-input-class"
        [min]="today"
        [matDatepicker]="picker"
        [formControl]="dateValidation"
        [errorStateMatcher]="matcher"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="month"
        [startAt]="today"
      ></mat-datepicker>
      <mat-error *ngIf="dateValidation.hasError('required')">
        You must set deadline date
      </mat-error>
    </mat-form-field>
    <div class="flex--center--button">
      <div class="flex--button">
        <button mat-button color="primary" type="submit">Next</button>
        <button mat-button color="warn" (click)="onCancelClick()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</app-custom-modal>
<app-custom-modal *ngIf="modals.priority">
  <h1>Set task's priority</h1>

  <form (submit)="onPriorityAdded()">
    <div class="input--container">
      <!-- <select
          class="my-input"
          id="priority"
          name="priority"
          formControlName="priority"
        >
          <option value="1">Low</option>
          <option value="2">Medium</option>
          <option value="2">High</option>
        </select> -->
      <mat-form-field appearance="fill">
        <mat-label>Priority</mat-label>
        <mat-select
          matNativeControl
          required
          [formControl]="priorityValidation"
          [errorStateMatcher]="matcher"
        >
          <mat-option value="1">Low</mat-option>
          <mat-option value="2">Medium</mat-option>
          <mat-option value="3">High</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex--center--button">
      <div class="flex--button">
        <button mat-button color="primary" type="submit">Next</button>
        <button mat-button color="warn" (click)="onCancelClick()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</app-custom-modal>
