.input--container p {
  margin-top: 23px;
  margin-bottom: 11px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.75);
}
.flex--button {
  display: flex;
  justify-content: space-between;
}
.flex--center--button {
  margin-top: 30px;
}

mat-form-field {
  width: 100%;
}

.mat-input-class {
  width: 100%;
}
