<!-- <div class="card" *ngIf="managerCard">
  <p class="bucket">{{ managerTask.bucketName }}</p>
  <p class="taskName">{{ managerTask.taskName }}</p>
  <div class="card--inner">
    <div class="priority" [style.background]="color"></div>
    <div class="inner--element">
      <p class="label deadline--label">Deadline:</p>
      <p class="value deadline--value">{{ managerTask.taskDeadline }}</p>
    </div>
    <div class="inner--element">
      <p class="label state--label">Task state:</p>
      <p class="value state--value">{{ managerTask.taskState }}</p>
    </div>
    <div class="inner--element">
      <p class="label timeleft--label">Time left:</p>
      <p class="value timeleft--value">{{ timeleft }}</p>
    </div>
    <div class="inner--element">
      <p class="label editors--label">Editors:</p>
      <p class="value editors--value">{{ managerTask.taskEditorsCount }}</p>
    </div>
    <div class="inner--element">
      <p class="label author--label">Author:</p>
      <p class="value author--value">{{ managerTask.taskOwner }}</p>
    </div>
    <div class="inner--element buttons--element">
      <div class="task--options--button">
        <img src="../../assets/_play_button.png" />
      </div>
      <div class="task--options--button">
        <img src="../../assets/_stop_button.png" />
      </div>
      <div class="dropdown--manager">
        <button
          class="task--options--button details--toggle"
          (click)="onDetailsClicked()"
        >
          <img
            class="details--toggle--img"
            src="../../assets/_more_button.png"
          />
        </button>
        <div class="options--menu" *ngIf="showDetails">
          <ul>
            <li><a href="#">Task's users</a></li>
            <li><a href="#">Task's details</a></li>
            <li><a href="#">Edit task</a></li>
            <li><a href="#">Delete task</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="normalCard">
  <p class="bucket">{{ task.bucketName }}</p>
  <p class="taskName">{{ task.taskName }}</p>
  <div class="card--inner">
    <div class="priority" [style.background]="color"></div>
    <div class="inner--element">
      <p class="label deadline--label">Deadline:</p>
      <p class="value deadline--value">{{ task.taskDeadline }}</p>
    </div>
    <div class="inner--element">
      <p class="label state--label">Start time:</p>
      <p class="value state--value">{{ task.creationTime }}</p>
    </div>
    <div class="inner--element">
      <p class="label timeleft--label">Est. duration:</p>
      <p class="value timeleft--value">{{ task.estDuration }}</p>
    </div>
    <div class="inner--element">
      <p class="label editors--label">Time left:</p>
      <p class="value editors--value">{{ timeleft }}</p>
    </div>
    <div class="inner--element">
      <p class="label author--label">Author:</p>
      <p class="value author--value">{{ task.taskOwner }}</p>
    </div>
    <div class="inner--element buttons--element">
      <img src="../../assets/_play_button.png" />
      <img src="../../assets/_stop_button.png" />
    </div>
  </div>
</div> -->
<mat-card *ngIf="normalCard" class="card"
  ><div class="priority" [style.background]="color"></div>
  <mat-card-header>
    <mat-card-title>{{ task.taskName }}</mat-card-title>
    <mat-card-subtitle>{{ task.bucketName }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="inner--element">
      <p class="label deadline--label">Deadline:</p>
      <p class="value deadline--value">{{ deadline | dateToString }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label state--label">Start time:</p>
      <p class="value state--value">{{ time | dateToString }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label timeleft--label">Time left:</p>
      <p class="value timeleft--value">{{ timeLeft }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label editors--label">Est. duration:</p>
      <p class="value editors--value">{{ task.taskExpectedTime }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label author--label">Author:</p>
      <p class="value author--value">{{ task.owner }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label author--label">Timer:</p>
      <p class="value author--value">
        {{ task.totalTimeOfTimer | numberToHhmmss }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions class="mat--actions">
    <button
      mat-stroked-button
      color="primary"
      (click)="startTimer()"
      [disabled]="!playPauseAvaiable"
    >
      {{ playPauseState }}
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="stopTimer()"
      [disabled]="!stopAvaiable"
    >
      STOP
    </button>
    <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">
      MORE
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onShowDetailsToggle()">
        <mat-icon>edit</mat-icon>
        <span>Task's details</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>

<!-- 
8888
MANAGER CARD
8888
 -->

<mat-card *ngIf="managerCard" class="card"
  ><div class="priority" [style.background]="color"></div>
  <mat-card-header>
    <mat-card-title>{{ task.taskName }}</mat-card-title>
    <mat-card-subtitle>{{ task.bucketName }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="inner--element">
      <p class="label deadline--label">Deadline:</p>
      <p class="value deadline--value">{{ deadline | dateToString }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label state--label">Task state:</p>
      <p class="value state--value">
        {{ taskStateToDisplay }}
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label timeleft--label">Time left:</p>
      <p class="value timeleft--value">{{ timeLeft }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label editors--label">Editors:</p>
      <p class="value editors--value">{{ task.editorsCount }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label author--label">Author:</p>
      <p class="value author--value">{{ task.owner }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label author--label">Timer:</p>
      <p class="value author--value">
        {{ task.totalTimeOfTimer | numberToHhmmss }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions class="mat--actions">
    <button
      mat-stroked-button
      (click)="startTimer()"
      color="primary"
      [disabled]="!playPauseAvaiable"
    >
      {{ playPauseState }}
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="stopTimer()"
      [disabled]="!stopAvaiable"
    >
      STOP
    </button>
    <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">
      MORE
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onShowMembersClick()">
        <mat-icon>group</mat-icon>
        <span>Task's users</span>
      </button>
      <button mat-menu-item (click)="onShowDetailsToggle()">
        <mat-icon>info</mat-icon>
        <span>Task's details</span>
      </button>
      <button
        mat-menu-item
        (click)="onSuspendClick()"
        *ngIf="!isSuspended"
        [disabled]="isFinished"
      >
        <mat-icon>remove_circle</mat-icon>
        <span>Suspend task</span>
      </button>
      <button mat-menu-item (click)="onUnsuspendClick()" *ngIf="isSuspended">
        <mat-icon>toggle_on</mat-icon>
        <span>Unsuspend task</span>
      </button>
      <button mat-menu-item (click)="onFinishClick()" [disabled]="isFinished">
        <mat-icon>done</mat-icon>
        <span>Finish task</span>
      </button>
      <button mat-menu-item (click)="onEditTaskClick()">
        <mat-icon>edit</mat-icon>
        <span>Edit task</span>
      </button>
      <button mat-menu-item (click)="onDeleteTaskClick()">
        <mat-icon>delete</mat-icon>
        <span>Delete task</span>
      </button>
      <button mat-menu-item (click)="onShowTimersClick()">
        <mat-icon>timer</mat-icon>
        <span>Show timers</span>
      </button>
      <button mat-menu-item (click)="onShowLogsClick()" *ngIf="isAdmin">
        <mat-icon>app_registration</mat-icon>
        <span>Show logs</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
<app-edit-task
  *ngIf="showEditTask"
  [task]="task"
  (close)="onEditTaskClose()"
  (taskEditted)="onTaskEditted($event)"
></app-edit-task>
<app-task-details
  [name]="task.taskName"
  [description]="task.taskDescription"
  [taskCreationTime]="creationTimeDate"
  *ngIf="showDetails"
  (close)="onShowDetailsToggle()"
></app-task-details>
<app-add-members-modal
  *ngIf="showAddMembers"
  (cancel)="onShowMembersClose()"
  (value)="onMembersChanged($event)"
  [membersEmails]="members"
></app-add-members-modal>
