<!-- <div class="card" *ngIf="managerCard">
  <p class="bucket">{{ managerTask.bucketName }}</p>
  <p class="taskName">{{ managerTask.taskName }}</p>
  <div class="card--inner">
    <div class="priority" [style.background]="color"></div>
    <div class="inner--element">
      <p class="label deadline--label">Deadline:</p>
      <p class="value deadline--value">{{ managerTask.taskDeadline }}</p>
    </div>
    <div class="inner--element">
      <p class="label state--label">Task state:</p>
      <p class="value state--value">{{ managerTask.taskState }}</p>
    </div>
    <div class="inner--element">
      <p class="label timeleft--label">Time left:</p>
      <p class="value timeleft--value">{{ timeleft }}</p>
    </div>
    <div class="inner--element">
      <p class="label editors--label">Editors:</p>
      <p class="value editors--value">{{ managerTask.taskEditorsCount }}</p>
    </div>
    <div class="inner--element">
      <p class="label author--label">Author:</p>
      <p class="value author--value">{{ managerTask.taskOwner }}</p>
    </div>
    <div class="inner--element buttons--element">
      <div class="task--options--button">
        <img src="../../assets/_play_button.png" />
      </div>
      <div class="task--options--button">
        <img src="../../assets/_stop_button.png" />
      </div>
      <div class="dropdown--manager">
        <button
          class="task--options--button details--toggle"
          (click)="onDetailsClicked()"
        >
          <img
            class="details--toggle--img"
            src="../../assets/_more_button.png"
          />
        </button>
        <div class="options--menu" *ngIf="showDetails">
          <ul>
            <li><a href="#">Task's users</a></li>
            <li><a href="#">Task's details</a></li>
            <li><a href="#">Edit task</a></li>
            <li><a href="#">Delete task</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="normalCard">
  <p class="bucket">{{ task.bucketName }}</p>
  <p class="taskName">{{ task.taskName }}</p>
  <div class="card--inner">
    <div class="priority" [style.background]="color"></div>
    <div class="inner--element">
      <p class="label deadline--label">Deadline:</p>
      <p class="value deadline--value">{{ task.taskDeadline }}</p>
    </div>
    <div class="inner--element">
      <p class="label state--label">Start time:</p>
      <p class="value state--value">{{ task.creationTime }}</p>
    </div>
    <div class="inner--element">
      <p class="label timeleft--label">Est. duration:</p>
      <p class="value timeleft--value">{{ task.estDuration }}</p>
    </div>
    <div class="inner--element">
      <p class="label editors--label">Time left:</p>
      <p class="value editors--value">{{ timeleft }}</p>
    </div>
    <div class="inner--element">
      <p class="label author--label">Author:</p>
      <p class="value author--value">{{ task.taskOwner }}</p>
    </div>
    <div class="inner--element buttons--element">
      <img src="../../assets/_play_button.png" />
      <img src="../../assets/_stop_button.png" />
    </div>
  </div>
</div> -->
<mat-card *ngIf="managerCard" class="card">
  <mat-card-header>
    <div class="priority" [style.background]="color"></div>
    <mat-card-title>{{ managerTask.taskName }}</mat-card-title>
    <mat-card-subtitle>{{ managerTask.bucketName }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="inner--element">
      <p class="label deadline--label">Deadline:</p>
      <p class="value deadline--value">{{ managerTask.taskDeadline }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label state--label">Task state:</p>
      <p class="value state--value">{{ managerTask.taskState }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label timeleft--label">Time left:</p>
      <p class="value timeleft--value">{{ timeleft }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label editors--label">Editors:</p>
      <p class="value editors--value">{{ managerTask.taskEditorsCount }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="inner--element">
      <p class="label author--label">Author:</p>
      <p class="value author--value">{{ managerTask.taskOwner }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions class="mat--actions">
    <button mat-stroked-button color="primary">PLAY</button>
    <button mat-stroked-button color="primary">STOP</button>
    <button mat-stroked-button [matMenuTriggerFor]="menu" color="primary">
      MORE
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>Task's users</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>info</mat-icon>
        <span>Task's details</span>
      </button>
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>Edit task</span>
      </button>
      <button mat-menu-item>
        <mat-icon>clear</mat-icon>
        <span>Delete task</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
