<app-custom-modal *ngIf="showEditProfile">
  <div class="center--flex">
    <h1>{{ title }}</h1>
    <h3 [innerHTML]="subTitle"></h3>
    <div class="form--class" style="margin-top: 30px" *ngIf="!passwordChange">
      <form
        class="form--class"
        ngForm="formValidation"
        (submit)="onSubmitClick()"
        ngFormModel="formValidator"
      >
        <div class="input--container">
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label>Username</mat-label>
            <input
              matInput
              placeholder="Your username"
              [formControl]="userNameValidation"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="userNameValidation.hasError('minlength')">
              Username must be at least <strong>5 characters long</strong>
            </mat-error>
            <mat-error *ngIf="userNameValidation.hasError('required')">
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="input--container">
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label>First name</mat-label>
            <input
              matInput
              [formControl]="firstNameValidation"
              [errorStateMatcher]="matcher"
              placeholder="Your first name"
            />
            <mat-error *ngIf="firstNameValidation.hasError('required')">
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="input--container">
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label>Last name</mat-label>
            <input
              matInput
              [formControl]="lastNameValidation"
              [errorStateMatcher]="matcher"
              placeholder="Your last name"
            />
            <mat-error *ngIf="lastNameValidation.hasError('required')">
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Position</mat-label>
            <mat-select
              required
              [formControl]="positionValidation"
              [errorStateMatcher]="matcher"
            >
              <mat-option value="INTERN">Intern</mat-option>
              <mat-option value="JUNIOR">Junior</mat-option>
              <mat-option value="MID">Mid</mat-option>
              <mat-option value="SENIOR">Senior</mat-option>
              <mat-option value="CEO">CEO</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Role</mat-label>
            <mat-select
              required
              [formControl]="roleValidation"
              [errorStateMatcher]="matcher"
            >
              <mat-option value="MEMBER">Member</mat-option>
              <mat-option value="TEAM_MANAGER">Team manager</mat-option>
              <mat-option value="ADMIN" *ngIf="isAdmin">Admin</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input--container">
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Your email address"
              [formControl]="emailValidation"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="emailValidation.hasError('required')">
              This field is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="emailValidation.hasError('email')">
              Type in <strong>valid e-mail address</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="change--password">
          <a
            style="font-size: 15px; margin-top: 10px"
            (click)="onChangePasswordClick()"
            >Change password</a
          >
        </div>
        <div class="button--container">
          <button mat-raised-button color="primary" type="submit">
            Confirm
          </button>
          <button mat-raised-button color="warn" (click)="onCancelClick()">
            Cancel
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="passwordChange" class="form--class" style="margin-top: 30px">
      <form
        class="form--class"
        ngForm="formValidation"
        (submit)="onPasswordSubmitClick()"
        ngFormModel="formValidator"
      >
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>New password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Your new password"
            [formControl]="newPasswordValidation"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="newPasswordValidation.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="newPasswordValidation.hasError('minlength')">
            Passwrod must be at least <strong>6 letters long</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>Confirm new password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Confirm your new password"
            [formControl]="newConfirmValidation"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="newConfirmValidation.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="newConfirmValidation.hasError('minlength')">
            Passwrod must be at least <strong>6 letters long</strong>
          </mat-error>
          <mat-error *ngIf="formValidation.hasError('noMatch')">
            Passwords don't match
          </mat-error>
        </mat-form-field>
        <mat-form-field
          class="full-width-input"
          appearance="fill"
          [ngClass]="{
            'error-margin':
              formValidation.hasError('noMatch') &&
              (newConfirmValidation.touched || newConfirmValidation.dirty)
          }"
        >
          <mat-label>New password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Your new password"
            [formControl]="passwordValidation"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf=""></mat-error>
          <mat-error *ngIf="passwordValidation.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="passwordValidation.hasError('minlength')">
            Passwrod must be at least <strong>6 letters long</strong>
          </mat-error>
        </mat-form-field>
        <div class="button--container">
          <button mat-raised-button color="primary" type="submit">
            Confirm
          </button>
          <button mat-raised-button color="warn" (click)="onCancelClick()">
            Cancel
          </button>
        </div>
      </form>
    </div>
    <a (click)="onDeleteProfileClick()">Delete or deactivate account</a>
  </div>
</app-custom-modal>
<app-custom-modal *ngIf="showDeleteProfile">
  <div class="center--flex">
    <h1>What do you <br />want to do next?</h1>
    <h3>Are you sure you want<br />to delete your account?</h3>

    <mat-form-field class="full-width-input" appearance="fill">
      <mat-label>Confirm with password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Your password"
        [formControl]="passwordDeleteValidation"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="passwordDeleteValidation.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordDeleteValidation.hasError('minlength')">
        Passwrod must be at least <strong>6 letters long</strong>
      </mat-error>
    </mat-form-field>
    <div class="button--container">
      <button
        mat-raised-button
        color="primary"
        (click)="onDeleteAccountClick()"
      >
        Confirm
      </button>
      <button mat-raised-button color="warn" (click)="onCancelClick()">
        Cancel
      </button>
    </div>
  </div>
</app-custom-modal>
