<h1 style="text-align: center; margin-top: 105px">Administrator Panel!</h1>
<div class="cards--container">
  <app-panel-card
    name="Buckets"
    description="Here you can find all buckets"
    imgSource="../../assets/_bucket_card_img.png"
  ></app-panel-card
  ><app-panel-card
    name="Tasks"
    description="Here you can find all tasks"
    imgSource="../../assets/_mybuckets_card_img.png"
  ></app-panel-card
  ><app-panel-card
    name="Users"
    description="Here you can find all users"
    imgSource="../../assets/_users_card_img.png"
  ></app-panel-card>
</div>
