<!-- <div class="card" (click)="bucketClicked()">
  <p class="author">{{ bucket.owner }}</p>
  <p class="bucketName">{{ bucket.name }}</p>
  <div class="description">
    <p class="placeholder">description:</p>
    <p class="body">{{ bucket.description }}</p>
  </div>
  <p class="taskAmount">max tasks amount: {{ bucket.maxTaskCount }}</p>
</div>
<app-custom-modal *ngIf="showBucketOptions" (close)="onBucketOptionsClose()">
  <h1 style="text-align: center">
    What do you want to do<br />with that bucket?
  </h1>
  <div class="row">
    <button class="button button--grey" (click)="onEditBucketClick()">
      Edit
    </button>
    <button class="button button--grey" (click)="onDeleteBucketClicked()">
      Delete
    </button>
  </div>
  <div class="row">
    <button class="button button--grey" style="width: 209px; padding: 25px 0">
      Show members
    </button>
    <button class="button button--grey" (click)="onShowTasksClick()">
      Show tasks
    </button>
  </div>
</app-custom-modal>
<app-edit-bucket
  *ngIf="showEditBucket"
  [bucketId]="bucket.bucketId"
  (close)="onEditBucketClose()"
  (bucketEditted)="onBucketEditted($event)"
></app-edit-bucket> -->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ bucket.name }}</mat-card-title>
    <mat-card-subtitle
      >{{ bucket.owner }} <mat-divider></mat-divider
    ></mat-card-subtitle>
  </mat-card-header>
  <!-- <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  /> -->
  <mat-card-content>
    <p>
      {{ bucket.description }}
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="buttons">
    <button mat-icon-button color="basic" (click)="onEditBucketClick()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)="onShowTasksClick()">
      <mat-icon>task</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="onDeleteBucketClicked()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<app-edit-bucket
  *ngIf="showEditBucket"
  [bucketId]="bucket.bucketId"
  (close)="onEditBucketClose()"
  (bucketEditted)="onBucketEditted($event)"
></app-edit-bucket>
